<ul>
    <li>@Html.ActionLink("Danh mục Khách hàng", "Index", "Customer")</li>
    <li>@Html.ActionLink("Danh mục Nhà cung cấp", "Index", "Supplier")</li>
    <li>@Html.ActionLink("Danh mục Sản phẩm", "Index", "Product")</li>
   
</ul>

